body{
	padding: 0;
	margin: 0;
	background-color: lightblue;
}

.recipes{
	width: 100%;
}

.element{
	width: 460px;
	display: inline-block;
	/*display: flex;
	flex-flow: row wrap;*/
	margin: 0.5rem;
	cursor: pointer;
}

ul{
	padding-left: 0;
}

.image{
	width: 200px;
}

.recipeWrapper{
	width: 460px;
	height: 280px;
	border: 3px solid black;
	border-radius: 5px;
}

.recipeHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 0.4rem;
}

.recipeHeader h3{
	padding: 0.1rem;
	margin: 0;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	flex-flow: nowrap;
	margin-top: 0.1rem;
	align-content: space-around;
	min-height: 80%;
}

.leftContainer{
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	margin: 0 0.5rem 0 0.5rem;
}

.rightContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 0 0.5rem;
	text-align: justify;
}

.rightContainer h3{
	margin: 0;
}

.title{
	font-size: 2rem;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.steps{
	font-size: 1rem;
}

.favorite{
	outline: none;
	cursor: pointer;
	border-radius: 10px;
}

.item img{
	width: 90%;
	border-radius: 10px;
	margin: 0 auto;
}

.navbar{
	margin-bottom: 0;
}
#navbar{
	position: sticky;
	display: flex;
	justify-content: space-between;
	background-color: blue;
	flex-direction: row;
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1rem;
	align-items: center;
}

#title, #middle{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#middle{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
}


p{
	font-size: 2.0rem;
	padding: 1.0rem;
	margin: 0 0.5rem;
	color: white;
}

/*#middle p:hover{
	text-decoration: underline overline;
	cursor: pointer;
}*/

#title p:hover{
	text-decoration: underline overline;
	cursor: pointer;
}

.navigation p:hover{
	text-decoration: underline overline;
	cursor: pointer;
}

.search_wrapper>h1{
	color: green;
}
/*end of navbar portion*/

/*modal portion*/
.modalTitle{
	font-size: 6rem;
	text-align: center;
}

.modalWrapper{
	width: 100%;
	min-height: auto;
	border: 5px solid black;
	margin: 0 auto;
	border-radius: 15px;
}

.modalHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 1.5rem;
}

.modalHeader>h3{
	font-size: 4rem;
}

.modalMainContainer{
	display: flex;
	flex-flow: row wrap;
	margin-top: 0.1rem;
	align-content: space-around;
	min-height: 80%;
}

.modalLeftContainer{
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	margin: 0 1.5rem 0 1.5rem;
}

.modalRightContainer{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 0.5rem;
	text-align: justify;
}

.modalRightContainer h3{
	font-size: 4rem;
}

.modalContainer h3{
	margin: 0;
}

.modalImage{
	width: 100%;
	padding: 0.5rem;
	border: 2px solid lightblue;
	border-radius: 5px;
}

.modalSteps{
	font-size: 3rem;
	margin: 1.5rem;
}

.modalIngredients{
	font-size: 2.5rem;
	margin-left: 3.5rem;
}

.modalFooter{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.rightSide{
	margin-left: 3rem;
}

.closeButton{
	cursor: pointer;
}

.veryTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recipeSource{
	text-align: center;	
}

.recipeWrapper:hover{
	background: rgba(0,0,0,0.1);
	box-shadow: 0 0 0 3px #3a7999;
	transition: 300ms;
}
/*end of modal portion*/

@media only screen and (min-width : 768px) {
	.smoothies {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    height: 400px;
	    width: 800px;
	    margin: 40px;
	}

	p{
		font-size: 3.5rem;
		margin: 0 2.5rem;
	}
}

.ReactModalPortal > div{
	/*top: 8rem;
	bottom: 8rem;*/
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay{
	transition: opacity 400ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open{
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close{
	opacity: 0;
}
