@media all and (min-width: 480px) {
  .Login {
    padding: 3rem 0;
    border: 3px solid white;
    border-radius: 5px;
    width: 42rem;
    margin: 0 auto;
    background: url("../images/smoothie-recipes.jpg");
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
	
	::-webkit-input-placeholder {
   		text-align: center;
	}

}

h1{
  color: white;
  margin-top: 0;
  margin-bottom: 2rem;
}

.googleface{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.media{
	width: 320px;
}

.font, h2{
	font-size: 3rem;
  color: white;
}

/*[type="submit"]{
	background-color: #00823F;
}*/

.social{
  font-family: OpenSans;
  color: #FFFFFF;
  background-color: #00FF7C;
  border: 1px solid #00FF7C;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #00823F;
  position: relative;
  top: 0px;
  transition: all ease 0.1s;
}

.social:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}